
hr {
    border: none;
    color: #868686;
    letter-spacing: 1.35em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 50px 0;
}

hr:before {
    content: '•••';
}

.ql-custom-hr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 12h14' /%3E%3C/svg%3E%0A") !important;
}