header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
  background: var(--color-nav);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999;
}
.header {
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  width: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  width: 50%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}

/* Dropdown Styles */
.dropdown, .UDropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #607D8B;
  border-radius: 5px;
  color: white;
  padding: 2px;
  width: max-content;
}

.dropdowns {
  display: flex;
  gap: 50px;
}

.dropdown-content, .dropdown-content2 {
  top: 35px;
  left: -1px;
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid #678dce;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  width: 100%;
}

.dropdown-content svg, .dropdown-content2 svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.dropdown-content a, .dropdown-content2 a {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content2,
.UDropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a,
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-bottom: 1px solid #678dce;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
  background-color: lightblue;
}

div .dropbtn {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 5px;
}

div .dropbtn svg {
  width: 24px;
  height: 24px;
  background-color: #678dce;
  border-radius: 50%;
  color: white;
}

.header-username {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-left: 2px;
  user-select: none;
}

.AdminButton {
  background: linear-gradient(to right top, goldenrod, #345678);
  color: white !important;
}

.AdminButton:hover {
  background: linear-gradient(to left bottom, goldenrod, #224422);
  color: white !important;
}


.dropbtn::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
  vertical-align: middle;
}

.logo img {
  width: 256px;
  height: auto;
  user-select: none;
  cursor: pointer;
  filter: invert(1);
}


header .nav {
  width: 50%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.login-text {
  font-size: 12px;
  color: goldenrod;
  padding-bottom: 15px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ProfilePhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 5px;
}

.dropbtn span {
  text-transform: capitalize;
  user-select: none;
}

.profileButton img {
  border: 1px solid rgba(56, 56, 56, 0.5);
}

.HeadNav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: var(--color-white);
}

.searchArea {
  width: 80px;
  background: white;
  color: darkblue;
  display: flex;
  border-radius: 4px;
  padding: 0 2px;
}

.searchArea span {
  width: 75%;
  margin-left: 2px;
  color: rgba(0, 0, 139, 0.5);
}

@media (max-width: 768px) {
  header {
    padding: 5px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  header nav {
    margin-top: 10px;
    display: grid;
    width: 66%;
  }

  header a.logo {
    font-size: 1rem;
  }

  header a.logo img {
    display: flex;
  }

  header .create-post {
    margin-left: 0;
  }

  header .create-post svg {
    width: 30px;
    height: 30px;
  }

  header .header-username {
    font-size: 1rem;
  }

  header .dropdown, header .UDropdown {
    margin-left: 10px;
    display: grid;
  }
  .dropdown:hover .dropdown-content,
  .dropdown:hover .dropdown-content2,
  .UDropdown:hover .dropdown-content {
    display: contents;
  }

  header .dropdown-content,
  header .dropdown-content2 {
    left: -10px;
  }

  header .dropdown-content a,
  header .dropdown-content2 a {
    padding: 10px 10px;
    background-color: #fff;
  }

  header .dropdown-content a:nth-last-child(1) {
    border-bottom: none;
  }

  header .dropdown-content2 a:nth-last-child(1) {
    border-bottom: none;
  }

  header .dropdown .dropbtn svg {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 431px) {
  .Mobile-Responsive {
    display: none;
  }
  .HeadNav {
    display: none;
  }
}

@media (max-width: 430px) {
  header {
    display: none;
  }

  .Mobile-Responsive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background: var(--color-white2);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
  }

  .setttingsButton,
  .homePageButton,
  .createBlogButton,
  .profileButton,
  .searchPageButton {
    width: 20%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }

  .setttingsButton,
  .homePageButton,
  .createBlogButton,
  .searchPageButton {
    border-right: 1px solid rgba(54, 54, 54, 0.3);
  }

  .setttingsButton svg,
  .homePageButton svg,
  .createBlogButton svg,
  .profileButton svg,
  .searchPageButton svg {
    width: 36px;
    height: 36px;
    align-items: center;
  }
  
  .setttingsButton a,
  .homePageButton a,
  .createBlogButton a,
  .profileButton a,
  .searchPageButton a{
    text-decoration: none;
    color: #000;
  }

  main {
    display: contents;
  }

}